body {
    background-color: darkgreen;
}

#main {
    background-color: green;
    margin:auto;
    width:70%;
    text-align:center;
    padding:20px;
    border-radius:15px;
    border:2px solid rgb(5, 47, 5);
}

h1 {
    color:rgb(173, 10, 4);
}