<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <canvas id="snow-canvas"></canvas>
    <div id="main">
    <h1>Christmas Eve Calculator V2.0</h1>

    <form method="POST">
        <label for="input_date">Enter a date:</label>
        <input type="date" id="input_date" name="input_date">
        <label for="input_name">Enter your name:</label>
        <input type="text" id="input_name" name="input_name">
        <button type="submit">Calculate Days Until Christmas</button>
    </form>

    <p id="message">{{ message }}</p>
</div>
<script src="{{ url_for('static', filename='snow.js') }}">
    window.onload = function() {
        document.querySelector('form').reset();
    };
</script>
</body>
</html>
